{:datasets [{:indicator-id "23"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level_description :values #{"National"}}]
             :resource-id "e8bbf627-6bb1-48f5-95e8-cf943ad16b37"}
            {:indicator-id "45"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level_description :values #{"England"}}]
             :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"}
            {:indicator-id "46"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level_description :values #{"England"}}]
             :resource-id "5ca47971-5d9e-4b50-93f0-8a8ecc90c072"}
            {:indicator-id "47"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level_description :values #{"England"}}]
             :resource-id "bcdaf636-32d0-4122-9828-e01c14d95f0b"}
            {:indicator-id "48"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level_description :values #{"England"}}]
             :resource-id "9c81f9a3-6301-4faf-90f0-b9f50d2aae39"}
            {:indicator-id "52"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "7b1be8ea-32bb-4d1b-8451-22796608076f"}
            {:indicator-id "56"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :breakdown :values #{"England"}}]
             :resource-id "18a8f547-be9b-4180-a8f6-4b5dccdfdc62"}
            {:indicator-id "58"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "c877fca5-5d8a-4f63-a592-57ac1cf576e1"}
            {:indicator-id "22"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "620c1ebe-8f6c-48f6-8dfc-a9f2e68b2467"}
            {:indicator-id "24"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "bb15bca9-9716-4d00-bc5f-8b8be88d60bc"}
            {:indicator-id "27"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "738b4af1-2691-40ae-a548-6ab6a6fd3415"}
            {:indicator-id "28"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "c44d0bd9-4d85-4aed-8051-5136f8d359a3"}
            {:indicator-id "43"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "5b1607c5-82d8-43b2-a5f6-6c7383627787"}
            {:indicator-id "44"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "f581825b-cf3e-4f5d-a358-190dcc3f8a0e"}
            {:indicator-id "61"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "f581825b-cf3e-4f5d-a358-190dcc3f8a0e"}
            {:indicator-id "62"
             :fields-to-extract [:indicator_value_rate :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "aaa57c54-c747-4eb8-aa9e-f3da798372f3"}
            {:indicator-id "54"
             :fields-to-extract [:indicator_value :year :period_of_coverage]
             :conditions [{:field :level :values #{"England"}}]
             :resource-id "3cb3fc90-3944-455a-97f0-50c9680184c7"}
            {:indicator-id "33"
             :fields-to-extract [:average_health_gain :year :period_of_coverage]
             :conditions [{:field :procedure :values #{"Hip replacement"}}
                          {:field :breakdown :values #{"England"}}]
             :resource-id "bb927580-4a09-4089-b118-cb43f9b45eb2"}
            {:indicator-id "34"
             :fields-to-extract [:average_health_gain :year :period_of_coverage]
             :conditions [{:field :procedure :values #{"Knee replacement"}}
                          {:field :breakdown :values #{"England"}}]
             :resource-id "bb927580-4a09-4089-b118-cb43f9b45eb2"}
            {:indicator-id "35"
             :fields-to-extract [:average_health_gain :year :period_of_coverage]
             :conditions [{:field :procedure :values #{"Groin hernia"}}
                          {:field :breakdown :values #{"England"}}]
             :resource-id "bb927580-4a09-4089-b118-cb43f9b45eb2"}
            {:indicator-id "36"
             :fields-to-extract [:average_health_gain :year :period_of_coverage]
             :conditions [{:field :procedure :values #{"Varicose vein"}}
                          {:field :breakdown :values #{"England"}}]
             :resource-id "bb927580-4a09-4089-b118-cb43f9b45eb2"}]
 :internal-calculations {:ethnicity [{:indicator-id "213"
                                      :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                      :numerators {:fields-to-extract [:numerator :year :period_of_coverage]
                                                   :conditions [{:field :level_description :values #{"Pakistani" "Indian"
                                                                                                     "Bangladeshi"
                                                                                                     "Any other Asian background"}}]}
                                      :denominators {:fields-to-extract [:denominator :year :period_of_coverage]
                                                     :conditions [{:field :level_description :values #{"Pakistani" "Indian"
                                                                                                       "Bangladeshi"
                                                                                                       "Any other Asian background"}}]}
                                      :indicator-values {:fields-to-extract [:indicator_value :year :period_of_coverage]
                                                         :conditions [{:field :level_description
                                                                       :values #{"English / Welsh / Scottish / Northern Irish / British"}}]}}
                                     {:indicator-id "214"
                                      :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                      :numerators {:fields-to-extract [:numerator :year :period_of_coverage]
                                                   :conditions [{:field :level_description
                                                                 :values #{"Afican" "Caribbean"
                                                                           "Any other Black / African / Caribbean background"}}]}
                                      :denominators {:fields-to-extract [:denominator :year :period_of_coverage]
                                                     :conditions [{:field :level_description
                                                                   :values #{"Afican" "Caribbean"
                                                                             "Any other Black / African / Caribbean background"}}]}
                                      :indicator-values {:fields-to-extract [:indicator_value :year :period_of_coverage]
                                                         :conditions [{:field :level_description
                                                                       :values #{"English / Welsh / Scottish / Northern Irish / British"}}]}}
                                     {:indicator-id "215"
                                      :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                      :numerators {:fields-to-extract [:numerator :year :period_of_coverage]
                                                   :conditions [{:field :level_description
                                                                 :values #{"Chinese" "Arab" "Any other ethnic group"}}]}
                                      :denominators {:fields-to-extract [:denominator :year :period_of_coverage]
                                                     :conditions [{:field :level_description
                                                                   :values #{"Chinese" "Arab" "Any other ethnic group"}}]}
                                      :indicator-values {:fields-to-extract [:indicator_value :year :period_of_coverage]
                                                         :conditions [{:field :level_description
                                                                       :values #{"English / Welsh / Scottish / Northern Irish / British"}}]}}
                                     {:indicator-id "216"
                                      :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                      :numerators {:fields-to-extract [:numerator :year :period_of_coverage]
                                                   :conditions [{:field :level_description
                                                                 :values #{"White and Black Caribbean" "White and Black African"
                                                                           "White and Asian" "Any other Mixed / multiple ethnic background"}}]}
                                      :denominators {:fields-to-extract [:denominator :year :period_of_coverage]
                                                     :conditions [{:field :level_description
                                                                   :values #{"White and Black Caribbean" "White and Black African"
                                                                             "White and Asian" "Any other Mixed / multiple ethnic background"}}]}
                                      :indicator-values {:fields-to-extract [:indicator_value :year :period_of_coverage]
                                                         :conditions [{:field :level_description
                                                                       :values #{"English / Welsh / Scottish / Northern Irish / British"}}]}}
                                     {:indicator-id "217"
                                      :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                      :numerators {:fields-to-extract [:numerator :year :period_of_coverage]
                                                   :conditions [{:field :level_description
                                                                 :values #{"Irish" "Gypsy or Irish Traveller"
                                                                           "Any other White background"}}]}
                                      :denominators {:fields-to-extract [:denominator :year :period_of_coverage]
                                                     :conditions [{:field :level_description
                                                                   :values #{"Irish" "Gypsy or Irish Traveller"
                                                                             "Any other White background"}}]}
                                      :indicator-values {:fields-to-extract [:indicator_value :year :period_of_coverage]
                                                         :conditions [{:field :level_description
                                                                       :values #{"English / Welsh / Scottish / Northern Irish / British"}}]}}]
                         :deprivation [{:indicator-id "212"
                                        :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                        :fields-to-extract [:indicator_value :year
                                                            :period_of_coverage :level]
                                        :conditions [{:field :breakdown
                                                      :values #{"Deprivation decile"}}]}]
                         :gender [{:indicator-id "211"
                                   :resource-id "800d0b08-95f7-4a0f-abd5-8bcb2528d8b4"
                                   :fields-to-extract [:indicator_value :year
                                                       :period_of_coverage :level]
                                   :conditions [{:field :breakdown
                                                 :values #{"Gender"}}]}]
                         :end-of-life-care {:indicator-id "57"
                                            :resource-id "3f6786f6-f0c7-4287-86b0-bd8cf48b5cac"
                                            :fields-to-extract [:indicator_value :question_response :year
                                                                :period_of_coverage]
                                            :conditions [{:field :question_response
                                                          :values #{"Outstanding"
                                                                    "Excellent"
                                                                    "Good"}}]}
                         :incidence [{:indicator-id "65"
                                      :fields-to-extract [:mrsa_count :reporting_period :level]
                                      :conditions []
                                      :sum-field :mrsa_count
                                      :resource-id "4b59deda-f204-453c-a7f6-e3ab6e29eb7d"}
                                     {:indicator-id "66"
                                      :fields-to-extract [:cdi_count :reporting_period :level]
                                      :conditions []
                                      :sum-field :cdi_count
                                      :resource-id "14b766af-ebb4-4ad0-9eda-ab115699d587"}]}
 :constitution [{:resource-id "0b788e3c-260c-473d-ae63-d1b767812538"
                 :indicator-id "132"}]}
