{"MAKING AN APPOINTMENT" [:area_team_code
                          :area_team_name
                          :ccg_code
                          :ccg_name

                          :total_survey_forms_distributed
                          :total_completed_forms_received
                          :response_rate

                          :what_did_you_want_to_do_total_responses
                          :see_a_gp_at_the_surgery
                          :see_a_nurse_at_the_surgery
                          :speak_to_a_gp_on_the_phone
                          :speak_to_a_nurse_on_the_phone
                          :have_someone_visit_at_home
                          :didnt_mind_wasnt_sure
                          :see_a_gp_at_the_surgery_percentage
                          :see_a_nurse_at_the_surgery_percentage
                          :speak_to_a_gp_on_the_phone_percentage
                          :speak_to_a_nurse_on_the_phone_percentage
                          :have_someone_visit_at_home_percentage
                          :didnt_mind_wasnt_sure_percentage

                          :when_did_you_want_to_see_or_speak_to_them_total_responses
                          :on_the_same_day
                          :on_the_next_working_day
                          :a_few_days_later
                          :a_week_or_more_later
                          :didnt_have_a_specific_day_in_mind
                          :cant_remember
                          :on_the_same_day_percentage
                          :on_the_next_working_day_percentage
                          :a_few_days_later_percentage
                          :a_week_or_more_later_percentage
                          :didnt_have_a_specific_day_in_mind_percentage
                          :cant_remember_percentage

                          :able_to_get_anappointment_to_see_or_speak_to_someone_total_responses
                          :able_to_get_anappointment_to_see_or_speak_to_someone_yes
                          :able_to_get_anappointment_to_see_or_speak_to_someone_yes_but_had_to_call_back
                          :able_to_get_anappointment_to_see_or_speak_to_someone_no
                          :able_to_get_anappointment_to_see_or_speak_to_someone_cant_remember
                          :able_to_get_anappointment_to_see_or_speak_to_someone_yes_percentage
                          :able_to_get_anappointment_to_see_or_speak_to_someone_yes_but_had_to_call_back_percentage
                          :able_to_get_anappointment_to_see_or_speak_to_someone_no_percentage
                          :able_to_get_anappointment_to_see_or_speak_to_someone_cant_remember_percentage
                          :able_to_get_anappointment_to_see_or_speak_to_someone_ci_yes
                          :able_to_get_anappointment_to_see_or_speak_to_someone_ci_lower_limit
                          :able_to_get_anappointment_to_see_or_speak_to_someone_ci_upper_limit

                          :what_type_of_appointment_did_you_get_total_responses
                          :appointment_to_see_a_gp_at_the_surgery
                          :appointment_to_see_a_nurse_at_the_surgery
                          :appointment_to_speak_to_a_gp_on_the_phone
                          :appointment_to_speak_to_a_nurse_on_the_phone
                          :appointment_for_someone_to_visit_at_home
                          :appointment_to_see_a_gp_at_the_surgery_percentage
                          :appointment_to_see_a_nurse_at_the_surgery_percentage
                          :appointment_to_speak_to_a_gp_on_the_phone_percentage
                          :appointment_to_speak_to_a_nurse_on_the_phone_percentage
                          :appointment_for_someone_to_visit_at_home_percentage

                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_total_responses
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_on_the_same_day
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_one_the_next_working_day
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_a_few_days_later
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_a_week_or_more_later
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_cant_remember
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_on_the_same_day_percentage
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_one_the_next_working_day_percentage
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_a_few_days_later_percentage
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_a_week_or_more_later_percentage
                          :how_long_until_actually_saw_or_spoke_to_gp_nurse_cant_remember_percentage

                          :convenience_of_appointment_total_responses
                          :convenience_of_appointment_very_convenient
                          :convenience_of_appointment_fairly_convenient
                          :convenience_of_appointment_not_very_convenient
                          :convenience_of_appointment_not_at_all_convenient
                          :convenience_of_appointment_very_convenient_percentage
                          :convenience_of_appointment_fairly_convenient_percentage
                          :convenience_of_appointment_not_very_convenient_percentage
                          :convenience_of_appointment_not_at_all_convenient_percentage
                          :convenience_of_appointment_ci_total
                          :convenience_of_appointment_ci_lower_limit
                          :convenience_of_appointment_ci_upper_limit

                          :reason_for_not_being_able_to_get_an_appointment_total_responses
                          :reason_for_not_being_able_to_get_an_appointment_werent_any_appoinments_for_the_day_wanted
                          :reason_for_not_being_able_to_get_an_appointment_werent_any_appoinments_for_the_time_wanted
                          :reason_for_not_being_able_to_get_an_appointment_couldnt_see_preferred_gp
                          :reason_for_not_being_able_to_get_an_appointment_couldnt_book_ahead_at_gp_surgery
                          :reason_for_not_being_able_to_get_an_appointment_another_reason
                          :reason_for_not_being_able_to_get_an_appointment_werent_any_appoinments_for_the_day_wanted_percentage
                          :reason_for_not_being_able_to_get_an_appointment_werent_any_appoinments_for_the_time_wanted_percentage
                          :reason_for_not_being_able_to_get_an_appointment_couldnt_see_preferred_gp_percentage
                          :reason_for_not_being_able_to_get_an_appointment_couldnt_book_ahead_at_gp_surgery_percentage
                          :reason_for_not_being_able_to_get_an_appointment_another_reason_percentage

                          :what_did_you_do_on_that_occasion_total_responses
                          :what_did_you_do_on_that_occasion_total_went_to_the_appintment_offered
                          :what_did_you_do_on_that_occasion_total_got_an_appointment_for_a_different_day
                          :what_did_you_do_on_that_occasion_total_had_a_consultation_over_the_phone
                          :what_did_you_do_on_that_occasion_total_went_to_ae_walk_in_centre
                          :what_did_you_do_on_that_occasion_total_saw_a_pharmacist
                          :what_did_you_do_on_that_occasion_total_decided_to_contact_surgery_another_time
                          :what_did_you_do_on_that_occasion_total_didnt_see_or_speak_to_anyone
                          :what_did_you_do_on_that_occasion_total_went_to_the_appintment_offered_percentage
                          :what_did_you_do_on_that_occasion_total_got_an_appointment_for_a_different_day_percentage
                          :what_did_you_do_on_that_occasion_total_had_a_consultation_over_the_phone_percentage
                          :what_did_you_do_on_that_occasion_total_went_to_ae_walk_in_centre_percentage
                          :what_did_you_do_on_that_occasion_total_saw_a_pharmacist_percentage
                          :what_did_you_do_on_that_occasion_total_decided_to_contact_surgery_another_time_percentage
                          :what_did_you_do_on_that_occasion_total_didnt_see_or_speak_to_anyone_percentage

                          :overall_experience_of_making_an_appointment_total_responses
                          :overall_experience_of_making_an_appointment_very_good
                          :overall_experience_of_making_an_appointment_fairly_good
                          :overall_experience_of_making_an_appointment_neither_good_nor_poor
                          :overall_experience_of_making_an_appointment_fairly_poor
                          :overall_experience_of_making_an_appointment_very_poor
                          :overall_experience_of_making_an_appointment_very_good_percentage
                          :overall_experience_of_making_an_appointment_fairly_good_percentage
                          :overall_experience_of_making_an_appointment_neither_good_nor_poor_percentage
                          :overall_experience_of_making_an_appointment_fairly_poor_percentage
                          :overall_experience_of_making_an_appointment_very_poor_percentage
                          :overall_experience_of_making_an_appointment_ci_total
                          :overall_experience_of_making_an_appointment_ci_lower_limit
                          :overall_experience_of_making_an_appointment_ci_upper_limit]}
