{"TWO WEEK WAIT-ALL CANCER" [:ccg_ons_area_id_6 :area_team_ons_area_id_5 :area_team_code_1 :area_team
                             :ccg_code_2 :clinical_commissioning_group :suspected_type_of_cancer_3 :total
                             :within_14_days :after_14_days :within_14_days_percentage]}
